.div--wrapper {
  padding: 20px 20px 20px 20px;
}

.p--title {
  text-align: center;
  font-weight: bolder;
  margin: auto;
}

.weight {
  font-weight: 600;
}

#btn-logout {
  display: block;
  margin: auto;
}
