.auto {
  margin: auto;
}

.div--list {
  padding: 0 20px 0 20px;
}

.weight {
  font-weight: 600;
}

table {
  text-align: center;
  vertical-align: middle;

  img {
    border-radius: 100%;
    max-height: 60px;
  }
}